    <%= require('raw-loader!index/header.html') %>

    <title>Ansys-MOE 自动化设计系统</title>

  </head>
  <body>

    <%= require('html-webpack-plugin/lib/loader.js!./content.ejs')({}) %>

    <% if (htmlWebpackPlugin.options.inject) { %>
      <script src="/dll/main.dll.js"></script>
    <% } else { %>
      <%= require('raw-loader!index/outdated.html') %>
    <% } %>
  </body>
</html>
