/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff !important;
  color: #666666;
  overflow-x: hidden;
}

.body-x-en {
  font-family: "Roboto", sans-serif;
}

.body-x-zh {
  font-family: "Noto Sans SC X", sans-serif;
}

a {
  color: #1dc8cd;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.icon svg {
  fill: url(#gradient);
  transition: 0.5s;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff;
  padding: 6px 20px 2px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
}

.back-to-top:focus {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  outline: none;
}

.back-to-top:hover {
  background: #1dc8cd;
}

.back-to-top svg {
  fill: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#logo {
  float: left;
}

#logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#logo h1 a, #logo h1 a:hover {
  color: #fff;
}

#logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
  #logo img {
    max-height: 40px;
  }
}

.header-fixed {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  position: relative;
}

.intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h2 {
  margin: 40px 0 20px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 384px) {
  #intro h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.btn-get-started {
  min-width: 170px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.btn-get-started:hover {
  color: #1dc8cd;
  background: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.menu-item-active {
  color: #1dc8cd !important;
}

/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  max-width: 100px;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

.nav-langs svg {
  fill: #fff;
  margin-top: 3.5px;
}

.nav-menu a.nav-langs {
  display: none;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  display: none;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle svg {
  fill: #fff;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children svg {
  position: absolute;
  right: 0;
  margin-top: 4px;
  z-index: 99;
  cursor: pointer;
  fill: #fff;
}

#mobile-nav span.nav-langs {
  display: none;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #eff5f5;
}

/* Features Section
--------------------------------*/
#features {
  background: #fff;
  padding: 60px 0 0 0;
}

#features .box {
  margin-bottom: 15px;
  text-align: center;
}

#features .icon {
  margin-bottom: 10px;
}

#features .title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 22px;
}

#features .title a {
  color: #111;
}

#features .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

#features .section-description {
  padding-bottom: 10px;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../resource/call-to-action-bg.jpg) fixed center center !important;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
}

.cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta-btn:hover {
  background: #fff;
}

/* More Features Section
--------------------------------*/
#more-features {
  padding: 60px 0 60px 0;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
}

#more-features .icon {
  float: left;
}

#more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
  }
  #more-features .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #more-features h4, #more-features p {
    margin-left: 0;
    text-align: center;
  }
}

/* Frequently Asked Questions Section
--------------------------------*/
#faq {
  padding: 60px 0;
}

#faq-list {
  padding: 0;
  list-style: none;
}

#faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-size: 22px;
  line-height: 1;
  font-weight: 300;
  padding-right: 20px;
}

#faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 18px;
  }
}

#faq-list a.collapsed {
  color: #000;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

.footer-links a {
  color: #666;
  padding-left: 15px;
}

.footer-links a:first-child {
  padding-left: 0;
}

.footer-links a:hover {
  color: #1dc8cd;
}
