@font-face {
  font-family: "Noto Sans SC";
  font-weight: 100;
  src: url("../resource/fonts/NotoSansSC-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 300;
  src: url("../resource/fonts/NotoSansSC-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 400;
  src: url("../resource/fonts/NotoSansSC-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500;
  src: url("../resource/fonts/NotoSansSC-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 700;
  src: url("../resource/fonts/NotoSansSC-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 900;
  src: url("../resource/fonts/NotoSansSC-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 100;
  src:
    url("../resource/fonts/NotoSansSC-Thin-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Thin-X.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 300;
  src:
    url("../resource/fonts/NotoSansSC-Light-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Light-X.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 400;
  src:
    url("../resource/fonts/NotoSansSC-Regular-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Regular-X.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 500;
  src:
    url("../resource/fonts/NotoSansSC-Medium-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Medium-X.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 700;
  src:
    url("../resource/fonts/NotoSansSC-Bold-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Bold-X.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans SC X";
  font-weight: 900;
  src:
    url("../resource/fonts/NotoSansSC-Black-X.woff2") format("woff2"),
    url("../resource/fonts/NotoSansSC-Black-X.woff") format("woff");
}
